<div style=" margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="tutorial.title"
            name="title"
          />
        </div>
  
        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="tutorial.description"
            name="description"
          />
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input
              class="form-control"
              id="price"
              required
              [(ngModel)]="tutorial.price"
              name="price"
            />
          </div>
        <br>
        <button (click)="saveTutorial()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newTutorial()">Add</button>
      </div>
    </div>
  </div>
<div>
  
<div class="bg-white mx-auto max-w-sm shadow-lg rounded-lg overflow-hidden">
  <div class="sm:flex sm:items-center px-6 py-4">
    <img class="block h-16 sm:h-24 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" src="https://instagram.fbdo2-1.fna.fbcdn.net/v/t51.2885-15/e35/73108737_154737609128872_640415630560788192_n.jpg?_nc_ht=instagram.fbdo2-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=QMyWMWJUXpsAX9YDj0u&tp=1&oh=69b8105838f0dc6758de850d5b122167&oe=60206B65" alt="">
    <div class="text-center sm:text-left sm:flex-grow">
      <div class="mb-4">
        <p class="text-xl leading-tight">Ragil Pratama</p>
        <p class="text-sm leading-tight text-grey-dark">Programmer ganteng berusia 20 tahun!</p>
      </div>
      <div>
        <button class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-purple text-purple hover:bg-purple hover:text-white">Message</button>
      </div>
    </div>
  </div>
</div>
</div>